.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-color: rgb(117, 115, 115) transparent;
}

.kim {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: auto;
    position: relative;
    z-index: 1;
    /* apply the SVG filter to warp the content subtly */
    filter: url(#warp);
    -webkit-filter: url(#warp);
    will-change: filter;
}

/* Respect reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  .kim { filter: none; -webkit-filter: none; }
}

.cover2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}