
.Home-container {
    width: 100%;
    overflow-x: hidden;
}

.home-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    overflow: hidden;   
}


.falling{
    font: 1.3em sans-serif;
    position: absolute;
    top: -50px;
    animation: fall-and-rotate 6s linear infinite;
    overflow: hidden;
    color: rgb(255, 172, 251);
    font-family: 'Bradley Hand', cursive;
}

@keyframes fall-and-rotate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}


@keyframes fadeInOut {
    0%, 90%, 100% {
        opacity: 0;
    }
    10%, 80% {
        opacity: 1;
    }
}

.box1 {
    position: absolute;
    top: 100%;
    left: 17%;
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%);
    margin: lightpink;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.box1:hover {
    opacity: 1;
}
.inside {
    color: rgb(255, 141, 179);
    font-family: 'Bradley Hand', cursive;
    font-size: 0.8em;
    font-family: 'Bradley Hand', cursive;
}
.yes {
    position: absolute;
    font-size: 0.3em;
    top: 30px;
    left: 80px;
    color: rgb(149, 1, 104);
    font-family: 'Bradley Hand', cursive;
    font-size: 1em;
    

}
.yes:hover{
    cursor: pointer;
    
}

.no {
    position: absolute;
    font-size: 0.3em;
    top: 30px;
    left : 20px;
    color: hsl(0, 79%, 72%);
    font-family: 'Bradley Hand', cursive;
    font-size: 1em;
    
}
.no:hover{
    cursor: pointer;
    
}

@keyframes pinkShades {
    0% { color: #760f46; }
    14% { color: #9f2f85; }
    28% { color: #7b0983; }
    42% { color: #b95eb7; }
    56% { color: #711a3a; }
    70% { color: #ca41a6; }
    85% { color: #d134b9; }
    100% { color: #7d0455; }
}


.moviesAndShows {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    animation: pinkShades 20s infinite;
    font-family: 'Bradley Hand', cursive;
}

.twoo {
    position: absolute;
    left: 30%;
}