@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.card {
  width: 800px;
  height: 400px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  display: flex;
}

.card_left {
  width: 40%;
  overflow: hidden;
  background: transparent;
}

.card_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card_right {
  width: 60%;
  background: #000000;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.card_right h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}

.card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

.card_right__review p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_right__review a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}